<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjcj.intellectualplatform.dao.SynthesisDao">

    <select id="findAll" resultType="cn.zjcj.intellectualplatform.domain.SynthesisDomain">
        select * from synthesis;
    </select>

    <insert id="saveSynthesisDomain">
        insert into synthesis(name, year, total_gdp, primary_industry_increment
        ,secondary_industry_increment
        ,tertiary_industry_increment
        ,industry_increment
        ,per_capita_gdp
        ,gdp_index
        ,primary_industry_gdp_index
        ,secondary_industry_gdp_index
        ,tertiary_industry_gdp_index) values(#{name}, #{year}, #{totalGDP}
        ,#{primaryIndustryGDP}
        ,#{secondaryIndustryGDP}
        ,#{tertiaryIndustryGDP}
        ,#{industryIncrement}
        ,#{perCapitaGDP}
        ,#{GDPIndex}
        ,#{primaryIndustryGDPIndex}
        ,#{secondaryIndustryGDPIndex}
        ,#{tertiaryIndustryGDPIndex});
    </insert>

    <select id="findByName" resultType="cn.zjcj.intellectualplatform.domain.SynthesisDomain">
        select * from synthesis where name = #{districtName,jdbcType=VARCHAR} ;
    </select>

    <select id="findByYear" resultType="cn.zjcj.intellectualplatform.domain.SynthesisDomain">
        select * from synthesis where year = #{year,jdbcType=INTEGER} ;
    </select>
</mapper>
